[submodule "submodules/odoo-argentina"]
	path = submodules/odoo-argentina
	url = git@github.com:a2systems/odoo-argentina.git
[submodule "submodules/account-reconcile"]
	path = submodules/account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 16.0
[submodule "submodules/odooapps"]
	path = submodules/odooapps
	url = https://github.com/odoomates/odooapps.git
	branch = 16.0
[submodule "submodules/vertical-association"]
	path = submodules/vertical-association
	url = https://github.com/OCA/vertical-association.git
	branch = 16.0
